{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaire edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <p>
        <a href="{{ path('commentaire_show_mes_commentaires') }}">Retour</a>
    </p>
    <p>
        <a href="{{ path('commentaire_suppression', { 'id': commentaire.id }) }}">Supprimer</a>
    </p>
{% endblock %}
