{% extends 'base.html.twig' %}
{% block body %}
    <h1>Mes signalements</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Article Signalé</th>
                <th class="text-center">Date</th>
                <th class="text-center">raison</th>
            </tr>
        </thead>
        <tbody>
        {% for signalement in signalementsArt %}
            <tr>
                <td class="text-center">{{signalement.signale.titre}}</td>
                <td class="text-center">{{ signalement.date|date('d-m-Y') }}</td>
				<td class="text-center">{{ signalement.raison }}</td>
				<td class="text-center">
					 <a href="{{ path('signalementarticle_suppression', { 'id': signalement.id }) }}">Supprimer</a>
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<br>
	 <table class="table">
        <thead>
            <tr>
                <th class="text-center">Commentaire Signalé</th>
                <th class="text-center">Date</th>
                <th class="text-center">raison</th>
            </tr>
        </thead>
        <tbody>
        {% for signalement in signalementsCom %}
            <tr>
                <td class="text-center">{{ signalement.signale.contenu }}</td>
                <td class="text-center">{{ signalement.date|date('d-m-Y') }}</td>
				<td class="text-center">{{ signalement.raison }}</td>
				<td class="text-center">
					 <a href="{{ path('signalementcom_suppression', { 'id': signalement.id }) }}">Supprimer</a>
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
