{% extends 'base.html.twig' %}
{% block body %}
    <h1>Mes signalements</h1>

    <table>
        <thead>
            <tr>
                <th>Article Signalé</th>
                <th>Date</th>
                <th>raison</th>
            </tr>
        </thead>
        <tbody>
        {% for signalement in signalementsArt %}
            <tr>
                <td>{{signalement.signale.titre}}</td>
                <td>{{ signalement.date|date('d-m-Y') }}</td>
				<td>{{ signalement.raison }}</td>
				<td>
					 <a href="{{ path('signalementarticle_suppression', { 'id': signalement.id }) }}">Supprimer</a>
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<br>
	 <table>
        <thead>
            <tr>
                <th>Commentaire Signalé</th>
                <th>Date</th>
                <th>raison</th>
            </tr>
        </thead>
        <tbody>
        {% for signalement in signalementsCom %}
            <tr>
                <td>{{ signalement.signale.contenu }}</td>
                <td>{{ signalement.date|date('d-m-Y') }}</td>
				<td>{{ signalement.raison }}</td>
				<td>
					 <a href="{{ path('signalementcom_suppression', { 'id': signalement.id }) }}">Supprimer</a>
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
