{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes Articles</h1>

    <p>
        <a href="{{ path('article_index') }}">Voir tout les articles</a>
    </p>	

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Titre</th>
                <th class="text-center">Datemodif</th>
                <th class="text-center">Datepublication</th>
				<th class="text-center">Nombre de commentaires</th>
				<th class="text-center">Thèmes</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td class="text-center">{{ article.titre }}</td>
                <td class="text-center">{% if article.dateModif %}{{ article.dateModif|date('Y-m-d') }}{% endif %}</td>
                <td class="text-center">{% if article.datePublication %}{{ article.datePublication|date('Y-m-d') }}{% endif %}</td>
                <td class="text-center">{{article.comArticle|length}}</td>
				<td class="text-center">
					<ul>
						{% for theme in article.themes %}
						<li>{{theme.nom}}</li>
						{% endfor %}
					</ul>
				</td>
				<td class="text-center">
                    <ul>
                        <li>
                            <a href="{{ path('article_show', { 'id': article.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('article_edit', { 'id': article.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
