{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articles list</h1>

    <p>
        <a href="{{ path('article_index') }}">Voir tout les articles</a>
    </p>	

    <table>
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Titre</th>
                <th>Datemodif</th>
                <th>Datepublication</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                {#<td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>#}
                <td>{{ article.titre }}</td>
                <td>{% if article.dateModif %}{{ article.dateModif|date('Y-m-d') }}{% endif %}</td>
                <td>{% if article.datePublication %}{{ article.datePublication|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('article_show', { 'id': article.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('article_edit', { 'id': article.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
