{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Thème</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
                <tr>
                    <td>{{ theme.nom }}</td><td>
                        {% set flag = 0 %}
            {% for usertheme in app.user.getTheme() %}

                {% if usertheme.getAime() == theme and flag == 0%}
                    {% set flag = 1 %}
                {% endif %}

            {% endfor %}
                        {% if flag == 1%}
                            <a class="btn btn-error" href="{{ path('profil_aime_pas',{'id' : theme.id}) }}">Ne plus aimer ce thème</a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ path('profil_aime',{'id' : theme.id}) }}">Aimer ce thème</a>
                        {% endif %}
                    </td>
            {% if is_granted("ROLE_CRITIQUE") %}
                    <td>
                        {% for usertheme in app.user.getTheme() %}
                        {% if usertheme.getAime() == theme %}
                            {% if  usertheme.specialite == 0 %}
                            <a class="btn btn-primary" href="{{ path('profil_specialite',{'id' : theme.id})   }}">Choisir comme spécialité</a>
                            {% else %}
                            <a class="btn btn-primary" href="{{ path('profil_specialite_retrait',{'id' : theme.id})   }}">retirer des spécialités</a>
                            {% endif %}
                        {% endif %}
                        {% endfor %}

                    </td>
                {% endif %}
                </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr>
            <th>Mes thèmes suivis</th>
        </tr>
        </thead>
        <tbody>
            {% for theme in app.user.getTheme() %}
                <tr>
                    <td>{{ theme.getAime().nom }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_CRITIQUE") %}
        <table class="table">
            <thead>
                <tr>
                    <th>Mes spécialités</th>
                </tr>
            </thead>
            <tbody>
            {% for theme in app.user.getTheme() %}
                <tr>
                {% if theme.specialite == 1 %}
                    <td>{{ theme.getAime().nom }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}