{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateur</h1>

    <table>
        <tbody>
            {% if is_granted('ROLE_ADMIN')%}
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Login</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Actif ?</th>
                <td>{% if user.active %}Oui{% else %}Non{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">Retour</a>
    <a href="{{ path('user_edit', { 'id': user.id }) }}">Modifier</a>
{% endblock %}
