{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Revenir à la liste des articles</a>
        </li>
        {% if  article.ecritPar.id == app.user.id or is_granted('ROLE_ADMIN')%}
            <li>
                <a href="{{ path('article_suppression', { 'id': article.id }) }}">
                    Suppimer
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
