{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article</h1>

    <table>
        <tbody>
            {#<tr>
               <th>Id</th>
               <td>{{ article.id }}</td>
            </tr>#}
            <tr>
                <th>Contenu</th>
                <td>{{ article.contenu }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Datemodif</th>
                <td>{% if article.dateModif %}{{ article.dateModif|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datepublication</th>
                <td>{% if article.datePublication %}{{ article.datePublication|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Validé</th>
                <td>{% if article.active %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
	
	<h3>Commentaires</h3>
	<table>
		<tr>
			<td><b>Pseudo</b></td>
			<td><b>commentaire</b></td>
			<td><b>note</b></td>
		</tr>
		{% set moyenne = 0 %}
		{% set i = 0 %}
		{% for com in listecom %}
			{% set i = i+1 %}
			{% set moyenne = moyenne+com.note %}
			<tr>
				<td>{{com.commentePar}}</td>
				<td>{{com.contenu}}</td>
				<td>{{com.note}}</td>
				<td>
					<a href="">Signaler</a>
				</td>
			</tr>
		{% endfor %}
		{% if i > 0 %}
			{% set moyenne = moyenne/i %}
		{% endif %}
	</table>
	<br>
	{% if i > 0 %}
		<h4>Moyenne globale : {{moyenne}}</h4>
	{% endif %}
    <ul>
        <li>
            <a href="{{ path('article_index') }}">Revenir à la liste des articles</a>
        </li>
        <li>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Suppimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
