{% extends 'base.html.twig' %}

{% block body %}
    <h1>Signalementcoms list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Active</th>
                <th>Date</th>
                <th>Raison</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for signalementCom in signalementComs %}
            <tr>
                <td><a href="{{ path('signalementcom_show', { 'id': signalementCom.id }) }}">{{ signalementCom.id }}</a></td>
                <td>{% if signalementCom.active %}Yes{% else %}No{% endif %}</td>
                <td>{% if signalementCom.date %}{{ signalementCom.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ signalementCom.raison }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('signalementcom_show', { 'id': signalementCom.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('signalementcom_edit', { 'id': signalementCom.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('signalementcom_new') }}">Create a new signalementCom</a>
        </li>
    </ul>
{% endblock %}
